<% content_for :includes do %>
  <link rel="stylesheet" type="text/css" href="/index.css">
  <script src="/index.js"></script>
<% end %>



<%= erb :teaser %>

<div id="siteSubject">Olarfest 2017 - Tule mukaan!</div>

<div id="description">
  <%= erb :description %>
  <br><br>
  
  <%= erb :some_icons %>
  <%= erb :yleiso %>
  <%= erb :rekry %>
  <div id="yhdistys"><%= erb :olarfest_ry %></div>
  <div id="lahjoita"><%= erb :lahjoita %></div>
  
  <div id="lahjoittajat"><br>
    <h2>Lahjoitukset ja sponsorit</h2>
    <%= erb :lahjoittajat %>
    <%= erb :sponsorit %>
  </div>

  <%= erb :popup %>
</div>
  
<%= erb :bottom_bar %>
