<% content_for :includes do %>
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <script src="/assets/js/index.js"></script>
<% end %>

<%= erb :teaser %>

<div id="siteSubject">Olarfest 2017 - Tule mukaan!</div>

<div id="siteContent">
  
  <%= erb :'/contentElements/description' %>
  <%= erb :'/contentElements/some_icons' %>
  <%= erb :'/contentElements/yleiso' %>
  <%= erb :'/contentElements/rekry' %>
  <!-- <%= erb :'/contentElements/olarfest_ry' %> -->
  
  <!-- <%= erb :'/contentElements/lahjoita' %> -->
  <!-- <%= erb :'/contentElements/lahjoitukset_ja_sponsorit' %> -->

</div>

  
<%= erb :bottom_bar %>
<%= erb :popup %>
