<% content_for :includes do %>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="/index.js"></script>
<% end %>

<%= erb :teaser %>

<div id="siteSubject">Olarfest 2017 - Tule mukaan!</div>

<div id="siteContent">
  
  <%= erb :description %>
  <%= erb :some_icons %>
  <%= erb :yleiso %>
  <%= erb :rekry %>
  <%= erb :olarfest_ry %>
  
  <%= erb :lahjoita %>
  <%= erb :lahjoitukset_ja_sponsorit %>

</div>

  
<%= erb :bottom_bar %>
<%= erb :popup %>
